:root {
    --primario: #6834a6;
    --secundario: #6c3bc2;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
 
[class$="__contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.header {
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 16rem;
    padding: 5rem 0;
}

@media (min-width: 768px){
    .header {
        background-size: 60rem;
    }
}

@media (min-width: 992px){
    .header {
        background-size: 80rem;
    }
}

@media (min-width: 1280px){
    .header {
        background-size: 90rem;
    }
}

@media (min-width: 768px){
    .header__barra {
        display: flex;
        justify-content: space-between;
    }
}

.header__logo {
    width: 15rem;
    margin: 0 auto 3rem auto;

    animation-name: abajo;
    animation-duration: 500ms;
}

@media (min-width: 768px){
    .header__logo {
        margin: 0;
    }
}


/* ==== ==== ==== ==== NAVEGACIÓN ==== ==== ==== ====*/
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 768px){
    .navegacion {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
}

.navegacion__link {
    color: var(--primario);

    animation-name: abajo;
    animation-duration: 1000ms;
}

.navegacion__link--blanco {
    color: var(--blanco);
}

@media (min-width: 768px){
    .navegacion__link {
        color: var(--blanco);
    }
}


/* ==== ==== ==== ==== HERO ==== ==== ==== ====*/
.header__grid {
    display: grid;
}

@media (min-width: 768px){
    .header__grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
    }
}

.header__texto {
    animation-name: abajo;
    animation-duration: 1000ms;
}

.header__heading {
    text-align: center;
    font-size: 3rem;
    line-height: 1.3;

}
@media (min-width: 768px){
    .header__heading {
        text-align: left;
        font-size: 5.5rem;
        line-height: 1.3;
    }
}

.header__grafico {
    animation-name: derecha;
    animation-duration: 1000ms;
}

.header__imagen {
    max-width: 40rem;
    margin: 0 auto;
}

@media (min-width: 768px){
    .header__imagen {
        max-width: 30rem;
    }
}

.header__boton {
    background-color: var(--primario);
    color: var(--blanco);
    display: block;
    padding: 1rem;
    text-align: center;
    margin-bottom: 4rem;
    border-radius: 0.4rem;

    transition: box-shadow 0.3s ease;
}

.header__boton:hover {
    box-shadow: 0px 2px 12px var(--secundario);
}

@media (min-width: 992px){
    .header__boton {
        padding: 1rem 3rem;
        display: inline-block;
    }
}


/* ==== ==== ==== ==== NUCLEUS ==== ==== ==== ====*/
.nucleus {
    margin-top: 3rem;
}

.nucleus__heading {
    text-align: center;
    margin-bottom: 4rem;
}

@media (min-width: 768px){
    .nucleus__heading {
        margin-bottom: 5rem;
    }
}

.nucleus__grid {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
}

@media (min-width: 768px){
    .nucleus__grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5rem;
        align-items: center;
    }
}

.nucleus__imagen {
    max-width: 30rem;
    margin: 0 auto;
}


.listado {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 992px){
    .listado {
        gap: 3.5rem;
    }
}

.listado__elemento {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    background-color: var(--blanco);

    transition: transform 0.3s ease;
}

.listado__elemento:hover {
    transform: scale(1.06);
}

@media (min-width: 768px){
    .listado__elemento {
        padding: 2rem;
    }
}

.listado__heading {
    font-size: 2.8rem;
    color: var(--primario);
    margin: 0;
}

.listado__texto {
    margin: 0;
}

.listado__numero {
    font-size: 6rem;
    text-align: center;
    font-weight: 900;
    color: var(--primario);
    margin: 0;
}

@media (min-width: 768px){
    .listado__numero {
        flex-basis: 16rem;
        text-align: right;
        font-size: 4rem;
    }
}

/* ==== ==== ==== ==== SEGURIDAD ==== ==== ==== ====*/
.seguridad {
    background: linear-gradient(to left, var(--primario) 0%, var(--secundario) 70% );
    padding-top: 15rem;
    padding-bottom: 15rem;
    position: relative;
    margin-top: 10rem;
    margin-bottom: 10rem;
    overflow: hidden;
}

.seguridad::before,
.seguridad::after {
    background-color: var(--blanco);
    content: '';
    height: 15rem;
    width: 120%;
    position: absolute;
    left: -2rem;
    
}

.seguridad::before{
    top: -5rem;
    transform: rotate(3deg);
    
}
.seguridad::after {
    bottom: -10rem;
    transform: rotate(3deg);
}

.seguridad__heading {
    color: var(--blanco);
    text-align: center;
    margin-bottom: 4rem;
    line-height: 4.8rem;
}

@media (min-width: 768px){
    .seguridad__heading {
        margin-bottom: 5rem;
    }
}

.seguridad__grid {
    display: grid;
    row-gap: 5rem;
}

@media (min-width: 768px){
    .seguridad__grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        align-items: center;
    }
}

/* ==== ==== ==== ==== COMISIONES ==== ==== ==== ====*/
.comisiones__heading{
    text-align: center;
    margin-bottom: 4rem;
}


@media (min-width: 768px){
    .comisiones__heading {
        margin-bottom: 5rem;
    }
}

.comisiones__grid {
    display: grid;
    row-gap: 4rem;
}

@media (min-width: 768px){
    .comisiones__grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        align-items: center;
    }
}

.comisiones__texto {
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
}

@media (min-width: 992px){
    .comisiones__texto {
        max-width: 90%;
        margin-bottom: 4rem;
    }
}

@media (min-width: 768px){
    .listado__elemento--dos-columnas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;    
    }
}

.comisiones__grafico {
    align-self: flex-end;
}

.comisiones__imagen {
    max-width: 40rem;
    margin: 0 auto;
}

/* ==== ==== ==== ==== TESTIMONIALES ==== ==== ==== ====*/
.testimoniales {
    background-color: var(--primario);
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.testimoniales__heading {
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
    color: var(--blanco);
}

@media (min-width: 768px){
    .testimoniales__heading {
        margin-bottom: 5rem;
    }
}

.testimoniales__grid {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
}

@media (min-width: 768px){
    .testimoniales__grid {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

@media (min-width: 992px){
    .testimoniales__grid {
        padding: 0 10rem;
    }
}

.testimonial {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    background-color: var(--blanco);

    transition: transform 0.3s ease;
}

.testimonial:hover {
    transform: scale(1.06);
}

.testimonial__texto{
    padding-left: 4rem;
    position: relative;
}

.testimonial__texto::before{
    content: '';
    background-image: url(../img/comilla.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 0;
    top: 1rem;
}
@media (min-width: 768px){
    .testimonial__texto::before{
        top: 0;
    }
}

.testimonial__autor {
    text-align: right;
    font-weight: 700;
    color: var(--primario);
}


/* ==== ==== ==== ==== FOOTER ==== ==== ==== ====*/
.footer {
    background-color: #5A30A0;
    padding: 2rem 0;
}

.footer__grid {
    display: grid;
    justify-content: center;
    gap: 2rem;
}

@media (min-width: 992px){
    .footer__grid {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: end;
    }
}

.footer__logo {
    width: 16rem;
    justify-self: center;
}

@media (min-width: 992px){
    .footer__logo {
        justify-self: flex-start;    
    }
}



/* ANIMACIONES */

.animacion-abajo {
    animation-name: abajo;
    animation-duration: 1000ms;
}

.animacion-derecha {
    animation-name: derecha;
    animation-duration: 1000ms;
}

.animacion-hizquierda {
    animation-name: hizquierda;
    animation-duration: 1000ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@keyframes abajo{
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes derecha {
    0% {
        opacity: 0;
        transform: translateX(16rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes hizquierda {
    0% {
        opacity: 0;
        transform: translateX(-16rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}